<html>
    <head>
        <title>{{title}}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="/css/gestion_niveles.css">

        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script>
            const niveles = {{json lista_niveles}};
        </script>
        <style>
            .notas {
                height: 6vw;
            }

            .notas .padre {
                float: right;
                height: 6vw;
                display: flex;
                align-items: center;
            }

            .notas .padre .nota {
                    float: left;
                    width: 8vw;
                    text-align: center;
                    height: auto;
                    padding: .9vw 0;
                    font-size: .9vw;
                    border: 1px solid;
                    margin: 0 .4vw;
                    user-select: none;
                    font-weight: 600;
            }

            .notas .padre .nota span {
                
            }

            .preguntas {
                width: 80%;
                margin: 0 auto;
            }

            .preguntas .maintitulo {
                font-size: 1.2vw;
                font-weight: 700;
                text-align: center;
            }

            .preguntas .pregunta {

            }

            .preguntas .pregunta .titulo {
                
            }

            .preguntas .pregunta .titulo span {
                display: block;
                font-size: .9vw;
            }

            .preguntas .pregunta .titulo .archivo_pregunta {
                height: auto;
            }

            .preguntas .pregunta .titulo .archivo_pregunta img {
                width: 10vw;
                height: 10vw;
                margin: .5vw 1vw;
            }

            .preguntas .pregunta .titulo .archivo_pregunta video {
                width: 14vw;
                height: 10vw;
                margin: .5vw 1vw;
            }

            .preguntas .pregunta .titulo .archivo_pregunta audio {
                margin: .5vw 1vw;
            }

            .respuesta {
                padding-left: 5vw;
            }

            .respuesta .titulo {

            }

            .respuesta .titulo span {

            }

            .preguntas .respuesta .titulo .archivo_respuesta {
                height: auto;
            }

            .preguntas .respuesta .titulo .archivo_respuesta img {
                width: 10vw;
                height: 10vw;
                margin: .5vw 1vw;
            }

            .preguntas .respuesta .titulo .archivo_respuesta video {
                width: 14vw;
                height: 10vw;
                margin: .5vw 1vw;
            }

            .preguntas .respuesta .titulo .archivo_respuesta audio {
                margin: .5vw 1vw;
            }

            .button {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="contenedor">
            <div class="nav">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/cerrar_sesion">Cerrar Sesion</a></li>
               
                </ul>
            </div>
            <div class="cuerpo">
                <input type="hidden" value="{{user.id}}" id="id_persona">
                <div id="categoria_0" class="col s12 tabs_body" style="height:auto;">
                    <ul class="collapsible">
                        <li>
                            <div class="collapsible-header">Discriminación</div>
                            <div class="collapsible-body" id="categoria_bloque_0">
                                <ul class="collapsible">
                                    {{#each lista_niveles as |nivel i|}}
                                        {{#comparar nivel.id_categoria '==' 0}}
                                            <li>
                                                <div class="collapsible-header"><b>Orden:&nbsp;</b>{{nivel.orden}}&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;<b>Descripción:&nbsp;&nbsp;</b>{{nivel.descripcion}}</div>
                                                <div class="collapsible-body" id="nivel_bloque_{{nivel.id}}">
                                                    <div class="notas">
                                                        <div class="padre">
                                                            <div class="nota">
                                                                <span>{{nivel.nota_maxima}}</span><br>
                                                                <span>Nota máxima</span>
                                                            </div>
                                                            <div class="nota">
                                                                <span>{{nivel.nota_minima}}</span><br>
                                                                <span>Nota mínima</span>
                                                            </div>
                                                            <div class="nota hide" id="minota_{{nivel.id}}">
                                                                <span id="nota_{{nivel.id}}"></span><br>
                                                                <span id="sms_{{nivel.id}}">Tu puntaje</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="preguntas_nivel_{{nive.id}}" class="preguntas">
                                                        <p class="maintitulo"><b>Preguntas del Examen</b></p>
                                                        {{#each nivel.preguntas as |pregunta p|}}
                                                            <div class="row pregunta">
                                                                <div class="col s12 titulo">
                                                                    <span><b>{{p}}.</b>&nbsp;&nbsp;{{pregunta.pregunta}}</span>
                                                                    <div id="archivo_pregunta_{{pregunta.id}}" class="archivo_pregunta"></div>
                                                                    <script>
                                                                        //let pregunta = {{json pregunta}};
                                                                        if({{json pregunta}}.tipo_archivo === 0){ //Audio
                                                                            $('#archivo_pregunta_{{pregunta.id}}').append('<audio controls src="http://localhost:1998/'+{{json pregunta}}.url_archivo+'"></audio>');
                                                                        } else if({{json pregunta}}.tipo_archivo === 1) { //Imagen
                                                                            $('#archivo_pregunta_{{pregunta.id}}').append('<img src="http://localhost:1998/'+{{json pregunta}}.url_archivo+'"></img>');
                                                                        } else if({{json pregunta}}.tipo_archivo === 2) { //Video
                                                                            $('#archivo_pregunta_{{pregunta.id}}').append('<video src="http://localhost:1998/'+{{json pregunta}}.url_archivo+'"></video>');
                                                                        } else if({{json pregunta}}.tipo_archivo === 3){ //Texto
                                                                            
                                                                        }
                                                                    </script>
                                                                </div>
                                                            </div>
                                                            {{#each pregunta.respuestas as |respuesta r|}}
                                                                <div class="row respuesta">
                                                                    <div class="col s12 titulo">
                                                                        <p>
                                                                            <label>
                                                                                <input name="respuesta/{{pregunta.id}}" id="respuesta/{{pregunta.id}}/{{respuesta.id}}" type="radio" value="{{respuesta.respuesta_correcta}}"/>
                                                                                <span><b>{{r}}.</b>&nbsp;&nbsp;{{respuesta.respuesta}}</span>
                                                                            </label>
                                                                        </p>
                                                                        <div id="archivo_respuesta_{{respuesta.id}}" class="archivo_respuesta"></div>
                                                                        <script>
                                                                            //let respuesta = {{json respuesta}};
                                                                            if({{json respuesta}}.tipo_archivo === 0){ //Audio
                                                                                $('#archivo_respuesta_{{respuesta.id}}').append('<audio controls src="http://localhost:1998/'+{{json respuesta}}.url_archivo+'"></audio>');
                                                                            } else if({{json respuesta}}.tipo_archivo === 1) { //Imagen
                                                                                $('#archivo_respuesta_{{respuesta.id}}').append('<img src="http://localhost:1998/'+{{json respuesta}}.url_archivo+'"></img>');
                                                                            } else if({{json respuesta}}.tipo_archivo === 2) { //Video
                                                                                $('#archivo_respuesta_{{respuesta.id}}').append('<video src="http://localhost:1998/'+{{json respuesta}}.url_archivo+'"></video>');
                                                                            } else if({{json respuesta}}.tipo_archivo === 3){ //Texto
                                                                                
                                                                            }
                                                                        </script>
                                                                    </div>
                                                                </div>
                                                            {{/each}}
                                                        {{/each}}
                                                        <div class="button row">
                                                            <div class="col s12">
                                                                <a class="waves-effect waves-light btn btn_CalificarNivel" id="calificar_{{nivel.id}}" data-target="{{nivel.id}}">Enviar a calificar</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        {{/comparar}}
                                    {{/each}}
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">Identificación</div>
                            <div class="collapsible-body" id="categoria_bloque_1">
                                <ul class="collapsible">
                                    {{#each lista_niveles as |nivel i|}}
                                        {{#comparar nivel.id_categoria '==' 1}}
                                            <li>
                                                <div class="collapsible-header"><b>Orden:&nbsp;</b>{{nivel.orden}}&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;<b>Descripción:&nbsp;&nbsp;</b>{{nivel.descripcion}}</div>
                                                <div class="collapsible-body" id="nivel_bloque_{{nivel.id}}">
                                                    <div class="notas">
                                                        <div class="padre">
                                                            <div class="nota">
                                                                <span>{{nivel.nota_maxima}}</span><br>
                                                                <span>Nota máxima</span>
                                                            </div>
                                                            <div class="nota">
                                                                <span>{{nivel.nota_minima}}</span><br>
                                                                <span>Nota mínima</span>
                                                            </div>
                                                            <div class="nota hide" id="minota_{{nivel.id}}">
                                                                <span id="nota_{{nivel.id}}"></span><br>
                                                                <span id="sms_{{nivel.id}}">Tu puntaje</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="preguntas_nivel_{{nive.id}}" class="preguntas">
                                                        <p class="maintitulo"><b>Preguntas del Examen</b></p>
                                                        {{#each nivel.preguntas as |pregunta p|}}
                                                            <div class="row pregunta">
                                                                <div class="col s12 titulo">
                                                                    <span><b>{{p}}.</b>&nbsp;&nbsp;{{pregunta.pregunta}}</span>
                                                                    <div id="archivo_pregunta_{{pregunta.id}}" class="archivo_pregunta"></div>
                                                                    <script>
                                                                        //let pregunta = {{json pregunta}};
                                                                        if({{json pregunta}}.tipo_archivo === 0){ //Audio
                                                                            $('#archivo_pregunta_{{pregunta.id}}').append('<audio controls src="http://localhost:1998/'+{{json pregunta}}.url_archivo+'"></audio>');
                                                                        } else if({{json pregunta}}.tipo_archivo === 1) { //Imagen
                                                                            $('#archivo_pregunta_{{pregunta.id}}').append('<img src="http://localhost:1998/'+{{json pregunta}}.url_archivo+'"></img>');
                                                                        } else if({{json pregunta}}.tipo_archivo === 2) { //Video
                                                                            $('#archivo_pregunta_{{pregunta.id}}').append('<video src="http://localhost:1998/'+{{json pregunta}}.url_archivo+'"></video>');
                                                                        } else if({{json pregunta}}.tipo_archivo === 3){ //Texto
                                                                            
                                                                        }
                                                                    </script>
                                                                </div>
                                                            </div>
                                                            {{#each pregunta.respuestas as |respuesta r|}}
                                                                <div class="row respuesta">
                                                                    <div class="col s12 titulo">
                                                                        <p>
                                                                            <label>
                                                                                <input name="respuesta/{{pregunta.id}}" id="respuesta/{{pregunta.id}}/{{respuesta.id}}" type="radio" value="{{respuesta.respuesta_correcta}}"/>
                                                                                <span><b>{{r}}.</b>&nbsp;&nbsp;{{respuesta.respuesta}}</span>
                                                                            </label>
                                                                        </p>
                                                                        <div id="archivo_respuesta_{{respuesta.id}}" class="archivo_respuesta"></div>
                                                                        <script>
                                                                            //let respuesta = {{json respuesta}};
                                                                            if({{json respuesta}}.tipo_archivo === 0){ //Audio
                                                                                $('#archivo_respuesta_{{respuesta.id}}').append('<audio controls src="http://localhost:1998/'+{{json respuesta}}.url_archivo+'"></audio>');
                                                                            } else if({{json respuesta}}.tipo_archivo === 1) { //Imagen
                                                                                $('#archivo_respuesta_{{respuesta.id}}').append('<img src="http://localhost:1998/'+{{json respuesta}}.url_archivo+'"></img>');
                                                                            } else if({{json respuesta}}.tipo_archivo === 2) { //Video
                                                                                $('#archivo_respuesta_{{respuesta.id}}').append('<video src="http://localhost:1998/'+{{json respuesta}}.url_archivo+'"></video>');
                                                                            } else if({{json respuesta}}.tipo_archivo === 3){ //Texto
                                                                                
                                                                            }
                                                                        </script>
                                                                    </div>
                                                                </div>
                                                            {{/each}}
                                                        {{/each}}
                                                        <div class="button row">
                                                            <div class="col s12">
                                                                <a class="waves-effect waves-light btn btn_CalificarNivel" id="calificar_{{nivel.id}}" data-target="{{nivel.id}}">Enviar a calificar</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        {{/comparar}}
                                    {{/each}}
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">Detección</div>
                            <div class="collapsible-body" id="categoria_bloque_2">
                                <ul class="collapsible">
                                    {{#each lista_niveles as |nivel i|}}
                                        {{#comparar nivel.id_categoria '==' 2}}
                                            <li>
                                                <div class="collapsible-header"><b>Orden:&nbsp;</b>{{nivel.orden}}&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;<b>Descripción:&nbsp;&nbsp;</b>{{nivel.descripcion}}</div>
                                                <div class="collapsible-body" id="nivel_bloque_{{nivel.id}}">
                                                    <div class="notas">
                                                        <div class="padre">
                                                            <div class="nota">
                                                                <span>{{nivel.nota_maxima}}</span><br>
                                                                <span>Nota máxima</span>
                                                            </div>
                                                            <div class="nota">
                                                                <span>{{nivel.nota_minima}}</span><br>
                                                                <span>Nota mínima</span>
                                                            </div>
                                                            <div class="nota hide" id="minota_{{nivel.id}}">
                                                                <span id="nota_{{nivel.id}}"></span><br>
                                                                <span id="sms_{{nivel.id}}">Tu puntaje</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="preguntas_nivel_{{nive.id}}" class="preguntas">
                                                        <p class="maintitulo"><b>Preguntas del Examen</b></p>
                                                        {{#each nivel.preguntas as |pregunta p|}}
                                                            <div class="row pregunta">
                                                                <div class="col s12 titulo">
                                                                    <span><b>{{p}}.</b>&nbsp;&nbsp;{{pregunta.pregunta}}</span>
                                                                    <div id="archivo_pregunta_{{pregunta.id}}" class="archivo_pregunta"></div>
                                                                    <script>
                                                                        //let pregunta = {{json pregunta}};
                                                                        if({{json pregunta}}.tipo_archivo === 0){ //Audio
                                                                            $('#archivo_pregunta_{{pregunta.id}}').append('<audio controls src="http://localhost:1998/'+{{json pregunta}}.url_archivo+'"></audio>');
                                                                        } else if({{json pregunta}}.tipo_archivo === 1) { //Imagen
                                                                            $('#archivo_pregunta_{{pregunta.id}}').append('<img src="http://localhost:1998/'+{{json pregunta}}.url_archivo+'"></img>');
                                                                        } else if({{json pregunta}}.tipo_archivo === 2) { //Video
                                                                            $('#archivo_pregunta_{{pregunta.id}}').append('<video src="http://localhost:1998/'+{{json pregunta}}.url_archivo+'"></video>');
                                                                        } else if({{json pregunta}}.tipo_archivo === 3){ //Texto
                                                                            
                                                                        }
                                                                    </script>
                                                                </div>
                                                            </div>
                                                            {{#each pregunta.respuestas as |respuesta r|}}
                                                                <div class="row respuesta">
                                                                    <div class="col s12 titulo">
                                                                        <p>
                                                                            <label>
                                                                                <input name="respuesta/{{pregunta.id}}" id="respuesta/{{pregunta.id}}/{{respuesta.id}}" type="radio" value="{{respuesta.respuesta_correcta}}"/>
                                                                                <span><b>{{r}}.</b>&nbsp;&nbsp;{{respuesta.respuesta}}</span>
                                                                            </label>
                                                                        </p>
                                                                        <div id="archivo_respuesta_{{respuesta.id}}" class="archivo_respuesta"></div>
                                                                        <script>
                                                                            //let respuesta = {{json respuesta}};
                                                                            if({{json respuesta}}.tipo_archivo === 0){ //Audio
                                                                                $('#archivo_respuesta_{{respuesta.id}}').append('<audio controls src="http://localhost:1998/'+{{json respuesta}}.url_archivo+'"></audio>');
                                                                            } else if({{json respuesta}}.tipo_archivo === 1) { //Imagen
                                                                                $('#archivo_respuesta_{{respuesta.id}}').append('<img src="http://localhost:1998/'+{{json respuesta}}.url_archivo+'"></img>');
                                                                            } else if({{json respuesta}}.tipo_archivo === 2) { //Video
                                                                                $('#archivo_respuesta_{{respuesta.id}}').append('<video src="http://localhost:1998/'+{{json respuesta}}.url_archivo+'"></video>');
                                                                            } else if({{json respuesta}}.tipo_archivo === 3){ //Texto
                                                                                
                                                                            }
                                                                        </script>
                                                                    </div>
                                                                </div>
                                                            {{/each}}
                                                        {{/each}}
                                                        <div class="button row">
                                                            <div class="col s12">
                                                                <a class="waves-effect waves-light btn btn_CalificarNivel" id="calificar_{{nivel.id}}" data-target="{{nivel.id}}">Enviar a calificar</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        {{/comparar}}
                                    {{/each}}
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">Comprensión</div>
                            <div class="collapsible-body" id="categoria_bloque_3">
                                <ul class="collapsible">
                                    {{#each lista_niveles as |nivel i|}}
                                        {{#comparar nivel.id_categoria '==' 3}}
                                            <li>
                                                <div class="collapsible-header"><b>Orden:&nbsp;</b>{{nivel.orden}}&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;<b>Descripción:&nbsp;&nbsp;</b>{{nivel.descripcion}}</div>
                                                <div class="collapsible-body" id="nivel_bloque_{{nivel.id}}">
                                                    <div class="notas">
                                                        <div class="padre">
                                                            <div class="nota">
                                                                <span>{{nivel.nota_maxima}}</span><br>
                                                                <span>Nota máxima</span>
                                                            </div>
                                                            <div class="nota">
                                                                <span>{{nivel.nota_minima}}</span><br>
                                                                <span>Nota mínima</span>
                                                            </div>
                                                            <div class="nota hide" id="minota_{{nivel.id}}">
                                                                <span id="nota_{{nivel.id}}"></span><br>
                                                                <span id="sms_{{nivel.id}}">Tu puntaje</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="preguntas_nivel_{{nive.id}}" class="preguntas">
                                                        <p class="maintitulo"><b>Preguntas del Examen</b></p>
                                                        {{#each nivel.preguntas as |pregunta p|}}
                                                            <div class="row pregunta">
                                                                <div class="col s12 titulo">
                                                                    <span><b>{{p}}.</b>&nbsp;&nbsp;{{pregunta.pregunta}}</span>
                                                                    <div id="archivo_pregunta_{{pregunta.id}}" class="archivo_pregunta">
                                                                    </div>
                                                                    <script>
                                                                        //let pregunta = {{json pregunta}};
                                                                        if({{json pregunta}}.tipo_archivo === 0){ //Audio
                                                                            $('#archivo_pregunta_{{pregunta.id}}').append('<audio controls src="http://localhost:1998/'+{{json pregunta}}.url_archivo+'"></audio>');
                                                                        } else if({{json pregunta}}.tipo_archivo === 1) { //Imagen
                                                                            $('#archivo_pregunta_{{pregunta.id}}').append('<img src="http://localhost:1998/'+{{json pregunta}}.url_archivo+'"></img>');
                                                                        } else if({{json pregunta}}.tipo_archivo === 2) { //Video
                                                                            $('#archivo_pregunta_{{pregunta.id}}').append('<video src="http://localhost:1998/'+{{json pregunta}}.url_archivo+'"></video>');
                                                                        } else if({{json pregunta}}.tipo_archivo === 3){ //Texto
                                                                            
                                                                        }
                                                                    </script>
                                                                </div>
                                                            </div>
                                                            {{#each pregunta.respuestas as |respuesta r|}}
                                                                <div class="row respuesta">
                                                                    <div class="col s12 titulo">
                                                                        <p>
                                                                            <label>
                                                                                <input name="respuesta/{{pregunta.id}}" id="respuesta/{{pregunta.id}}/{{respuesta.id}}" type="radio" value="{{respuesta.respuesta_correcta}}"/>
                                                                                <span><b>{{r}}.</b>&nbsp;&nbsp;{{respuesta.respuesta}}</span>
                                                                            </label>
                                                                        </p>
                                                                        <div id="archivo_respuesta_{{respuesta.id}}" class="archivo_respuesta">
                                                                        </div>
                                                                        <script>
                                                                            //let respuesta = {{json respuesta}};
                                                                            if({{json respuesta}}.tipo_archivo === 0){ //Audio
                                                                                $('#archivo_respuesta_{{respuesta.id}}').append('<audio controls src="http://localhost:1998/'+{{json respuesta}}.url_archivo+'"></audio>');
                                                                            } else if({{json respuesta}}.tipo_archivo === 1) { //Imagen
                                                                                $('#archivo_respuesta_{{respuesta.id}}').append('<img src="http://localhost:1998/'+{{json respuesta}}.url_archivo+'"></img>');
                                                                            } else if({{json respuesta}}.tipo_archivo === 2) { //Video
                                                                                $('#archivo_respuesta_{{respuesta.id}}').append('<video src="http://localhost:1998/'+{{json respuesta}}.url_archivo+'"></video>');
                                                                            } else if({{json respuesta}}.tipo_archivo === 3){ //Texto
                                                                                
                                                                            }
                                                                        </script>
                                                                    </div>
                                                                </div>
                                                            {{/each}}
                                                        {{/each}}
                                                        <div class="button row">
                                                            <div class="col s12">
                                                                <a class="waves-effect waves-light btn btn_CalificarNivel" id="calificar_{{nivel.id}}" data-target="{{nivel.id}}">Enviar a calificar</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        {{/comparar}}
                                    {{/each}}
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <script>
                        let aux_niveles = {{json lista_niveles}};
                        let aux_calificaciones = {{json lista_calificaciones}};
                        aux_niveles.forEach(function(nivel){
                            aux_calificaciones.forEach(function(calificacion){
                                if(calificacion.id_nivel === nivel.id){
                                    $('#nota_'+nivel.id).text(calificacion.calificacion);
                                    $('#nota_'+nivel.id).css('color','#fff');

                                    $('#sms_'+nivel.id).text('Tu puntaje');
                                    $('#sms_'+nivel.id).css('color','#fff');

                                    if(calificacion.calificacion < nivel.nota_minima){
                                        $('#minota_'+nivel.id).css('background-color','red');
                                        $('#minota_'+nivel.id).css('border-color','red');
                                    }else{
                                        $('#minota_'+nivel.id).css('background-color','green');
                                        $('#minota_'+nivel.id).css('border-color','green');
                                    }
                                    $('#minota_'+nivel.id).removeClass('hide');
                                }
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
        <script src="/js/gestion_niveles.js"></script>
        <script>
            $('.collapsible').collapsible();

            $('.btn_CalificarNivel').click(function(){
                $(this).attr('disabled','true');
                let data = {
                    id_persona: $('#id_persona').val(),
                    id_nivel: $(this).attr('data-target'),
                    punto_por_pregunta: 0,
                    calificacion: 0,
                    respuestas: []
                };
                niveles.forEach(function(nivel){
                    if(nivel.id === data.id_nivel){
                        data.punto_por_pregunta = nivel.nota_maxima / nivel.preguntas.length;
                        nivel.preguntas.forEach(function(pregunta){
                            console.log('aqui');
                            console.log($("input[name='respuesta/"+pregunta.id+"']:checked").val());
                            let aux = {
                                id_pregunta: pregunta.id,
                                estado: parseInt($("input[name='respuesta/"+pregunta.id+"']:checked").val())
                            };
                            if(aux.estado === 0) { //Respuesta correcta
                                data.calificacion = data.calificacion + data.punto_por_pregunta;
                            }
                            data.respuestas.push(aux);
                        });
                        console.log(data);
                    }
                });
                $.ajax({
                    url: '/paci/registrarOActualizarCalificacion',
                    type:"POST",
                    data: data,
                    dataType: 'json'
                }).done(function (data) {
                    console.log(data);
                    M.toast({html: data.data});
                    if (data.code == 0) {
                        location.reload();
                    }
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                    M.toast({html: 'Error, no se pudo completar la operación'});
                });
            });
        </script>
    </body>
</html>