<html>
    <head>
        <title>{{title}}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="/css/gestion_niveles.css">

        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </head>
    <body>
        <div class="contenedor">
            <div class="nav">
                <ul>
                    <li><a href="/">Home</a></li>
                    
                   
                </ul>
            </div>
            <div class="cuerpo">
                <div id="categoria_0" class="col s12 tabs_body">
                    <table>
                        <thead>
                            <tr>
                                <td>Item</td>
                                <td>Nombre</td>
                                <td>Apellidos</td>
                                <td>Edad</td>
                                <td>Teléfono</td>
                                <td>Rol</td>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each personas as |persona i|}}
                                <tr>
                                    <td>{{i}}</td>
                                    <td>{{persona.nombres}}</td>
                                    <td>{{persona.apellidos}}</td>
                                    <td>{{persona.edad}}</td>
                                    <td>{{persona.telefono}}</td>
                                    <td>
                                        <select class="browser-default" id="selectRol_{{persona.id}}">
                                        </select>
                                    </td>
                                </tr>

                                <script>
                                    $('#selectRol_{{persona.id}}').change(function(item){
                                        //console.log("nombre_rol"+item);
                                        let id_persona = '{{persona.id}}';
                                        let id_rol = $('#selectRol_{{persona.id}}').val();
                                        console.log(id_persona);
                                        console.log(id_rol);
                                        $.ajax({
                                            url: '/admin/updateRolUsuario',
                                            type:"POST",
                                            dataType: 'json',
                                            data: {id_persona: id_persona, id_rol: id_rol},
                                        }).done(function () {
                                            //alert(id_rol);
                                            console.log("rerer");
                                            console.log(data);
                                            M.toast({html: data.data});
                                            if (data.code == 0) {
                                                location.reload();
                                            }
                                        }).fail(function (jqXHR, textStatus, errorThrown) {
                                            console.log(errorThrown);
                                            M.toast({html: 'Error, no se pudo completar la operación'});
                                        });
                                    });
                                </script>
                            {{/each}}
                            <script>
                                let personas = {{json personas}};
                                let roles = {{json lista_roles}};
                                personas.forEach(function(persona){
                                    roles.forEach(function(rol){
                                        if(persona.rol.id === rol.id){
                                            $('#selectRol_'+persona.id).append('<option value="'+rol.id+'" selected>'+rol.nombre+'</option>');
                                        }else{
                                            $('#selectRol_'+persona.id).append('<option value="'+rol.id+'">'+rol.nombre+'</option>');
                                        }
                                    });
                                });
                            </script>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <script src="/js/gestion_niveles.js"></script>
    </body>
</html>