<html>
    <head>
        <title>{{title}}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="/css/gestion_niveles.css">

        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script>
            //Variables para almacenar los datos de cada nivel, preguntas y respuesta
            var lista_preguntas_nivel = [];
            var lista_respuestas_nivel = [];
        </script>
    </head>
    <body>
        <div class="contenedor">
            <div class="nav">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a class="modal-trigger" href="#modal_addNivel" id="button_menuTopAddNivel">Agregar Nivel</a></li>
                  
                    <li><a href="/cerrar_sesion">cerrar sesion</a></li>
                </ul>
            </div>
            <div class="cuerpo">
                <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
                    <li class="tab"><a class="active"href="#categoria_0">Discriminación</a></li>
                    <li class="tab"><a href="#categoria_1">Identificación</a></li>
                    <li class="tab"><a href="#categoria_2">Detección</a></li>
                    <li class="tab"><a href="#categoria_3">Comprension</a></li>
                </ul>
                <div id="categoria_0" class="col s12 tabs_body">
                    <table>
                        <thead>
                            <tr>
                                <td>Orden</td>
                                <td>Descripción</td>
                                <td>Nota máxima</td>
                                <td>Nota mínima</td>
                                <td>Editar</td>
                                <td>Eliminar</td>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each lista_niveles as |nivel i|}}
                                {{#comparar nivel.id_categoria '==' 0}}
                                    <tr>
                                        <td>{{nivel.orden}}</td>
                                        <td>{{nivel.descripcion}}</td>
                                        <td>{{nivel.nota_maxima}}</td>
                                        <td>{{nivel.nota_minima}}</td>
                                        <td><a id="editarNivel_{{nivel.id}}">Editar</a></td>
                                        <td><a id="eliminarNivel_{{nivel.id}}">Eliminar</a></td>
                                    </tr>
                                    <script>
                                        $('#eliminarNivel_{{nivel.id}}').click(function(){
                                            let id_nivel = '{{nivel.id}}';
                                            $.ajax({
                                                url: '/med/eliminarNivel',
                                                type:"POST",
                                                dataType: 'json',
                                                data: {id_nivel: id_nivel},
                                            }).done(function (data) {
                                                console.log(data);
                                                M.toast({html: data.data});
                                                if (data.code == 0) {
                                                    location.reload();
                                                }
                                            }).fail(function (jqXHR, textStatus, errorThrown) {
                                                console.log(errorThrown);
                                                M.toast({html: 'Error, no se pudo completar la operación1'});
                                            });
                                        });


                                        $('#editarNivel_{{nivel.id}}').click(function(){
                                            let nivel = {{json nivel}};
                                            console.log(nivel);
                                            $('#external_id').val(nivel.external_id);
                                            $('#id_nivel').val(nivel.id);
                                            $('#descripcion').val(nivel.descripcion);
                                            $('#orden').val(nivel.orden);
                                            $('#nota_maxima').val(nivel.nota_maxima);
                                            $('#nota_minima').val(nivel.nota_minima);
                                            $('#id_categoria').val(nivel.id_categoria);
                                            $('#id_categoria').formSelect();

                                            nivel.preguntas.forEach(function(p){
                                                let aux = {
                                                    pos: (lista_preguntas_nivel.length > 0) ? lista_preguntas_nivel.length : 0,
                                                    pregunta: p.pregunta,
                                                    tipo_archivo: p.tipo_archivo,
                                                    url_archivo_old: p.url_archivo,
                                                    file: null,
                                                    respuestas: []
                                                };
                                                p.respuestas.forEach(function(r){
                                                    aux.respuestas.push({
                                                        pos: (lista_respuestas_nivel.length > 0) ? lista_respuestas_nivel.length : 0,
                                                        respuesta: r.respuesta,
                                                        tipo_archivo: r.tipo_archivo,
                                                        url_archivo_old: r.url_archivo,
                                                        respuesta_correcta: r.respuesta_correcta,
                                                        file: null,
                                                    }); 
                                                });
                                                lista_preguntas_nivel.push(aux);
                                                let html  = '<tr id="pregunta_at_'+aux.pos+'">';
                                                    html += '   <td>'+aux.pregunta+'</td>';
                                                    html += '   <td>'+getTipoArchivo(p)+'</td>';
                                                    html += '   <td><a class="eliminarPregunta" data-target="'+aux.pos+'">Eliminar</a></td>';
                                                    html += '</tr>';
                                                $('#body_addPregunta').append(html);
                                            });

                                            function getTipoArchivo(p) {
                                                if(p.tipo_archivo === 0) {
                                                    return 'Audio';
                                                } else if(p.tipo_archivo === 1) {
                                                    return 'Imagen';
                                                } else if(p.tipo_archivo === 2) {
                                                    return 'Video';
                                                }else if(p.tipo_archivo === 3) {
                                                    return 'Texto';
                                                }
                                            }
                                            $('#modal_addNivel').modal('open');
                                        });
                                    </script>
                                {{/comparar}}
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                <div id="categoria_1" class="col s12 tabs_body">
                    <table>
                        <thead>
                            <tr>
                                <td>Orden</td>
                                <td>Descripción</td>
                                <td>Nota máxima</td>
                                <td>Nota mínima</td>
                                <td>Editar</td>
                                <td>Eliminar</td>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each lista_niveles as |nivel i|}}
                                {{#comparar nivel.id_categoria '==' 1}}
                                    <tr>
                                        <td>{{nivel.orden}}</td>
                                        <td>{{nivel.descripcion}}</td>
                                        <td>{{nivel.nota_maxima}}</td>
                                        <td>{{nivel.nota_minima}}</td>
                                        <td><a id="editarNivel_{{nivel.id}}">Editar</a></td>
                                        <td><a id="eliminarNivel_{{nivel.id}}">Eliminar</a></td>
                                    </tr>
                                    <script>
                                        $('#eliminarNivel_{{nivel.id}}').click(function(){
                                            let id_nivel = '{{nivel.id}}';
                                            $.ajax({
                                                url: '/med/eliminarNivel',
                                                type:"POST",
                                                dataType: 'json',
                                                data: {id_nivel: id_nivel},
                                            }).done(function (data) {
                                                console.log(data);
                                                M.toast({html: data.data});
                                                if (data.code == 0) {
                                                    location.reload();
                                                }
                                            }).fail(function (jqXHR, textStatus, errorThrown) {
                                                console.log(errorThrown);
                                                M.toast({html: 'Error, no se pudo completar la operación'});
                                            });
                                        });


                                        $('#editarNivel_{{nivel.id}}').click(function(){
                                            let nivel = {{json nivel}};
                                            console.log(nivel);
                                            $('#external_id').val(nivel.external_id);
                                            $('#id_nivel').val(nivel.id);
                                            $('#descripcion').val(nivel.descripcion);
                                            $('#orden').val(nivel.orden);
                                            $('#nota_maxima').val(nivel.nota_maxima);
                                            $('#nota_minima').val(nivel.nota_minima);
                                            $('#id_categoria').val(nivel.id_categoria);
                                            $('#id_categoria').formSelect();

                                            nivel.preguntas.forEach(function(p){
                                                let aux = {
                                                    pos: (lista_preguntas_nivel.length > 0) ? lista_preguntas_nivel.length : 0,
                                                    pregunta: p.pregunta,
                                                    tipo_archivo: p.tipo_archivo,
                                                    url_archivo_old: p.url_archivo,
                                                    file: null,
                                                    respuestas: []
                                                };
                                                p.respuestas.forEach(function(r){
                                                    aux.respuestas.push({
                                                        pos: (lista_respuestas_nivel.length > 0) ? lista_respuestas_nivel.length : 0,
                                                        respuesta: r.respuesta,
                                                        tipo_archivo: r.tipo_archivo,
                                                        url_archivo_old: r.url_archivo,
                                                        respuesta_correcta: r.respuesta_correcta,
                                                        file: null,
                                                    }); 
                                                });
                                                lista_preguntas_nivel.push(aux);
                                                let html  = '<tr id="pregunta_at_'+aux.pos+'">';
                                                    html += '   <td>'+aux.pregunta+'</td>';
                                                    html += '   <td>'+getTipoArchivo(p)+'</td>';
                                                    html += '   <td><a class="eliminarPregunta" data-target="'+aux.pos+'">Eliminar</a></td>';
                                                    html += '</tr>';
                                                $('#body_addPregunta').append(html);
                                            });

                                            function getTipoArchivo(p) {
                                                if(p.tipo_archivo === 0) {
                                                    return 'Audio';
                                                } else if(p.tipo_archivo === 1) {
                                                    return 'Imagen';
                                                } else if(p.tipo_archivo === 2) {
                                                    return 'Video';
                                                }else if(p.tipo_archivo === 3) {
                                                    return 'Texto';
                                                }
                                            }
                                            $('#modal_addNivel').modal('open');
                                        });
                                    </script>
                                {{/comparar}}
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                <div id="categoria_2" class="col s12 tabs_body">
                    <table>
                        <thead>
                            <tr>
                                <td>Orden</td>
                                <td>Descripción</td>
                                <td>Nota máxima</td>
                                <td>Nota mínima</td>
                                <td>Editar</td>
                                <td>Eliminar</td>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each lista_niveles as |nivel i|}}
                                {{#comparar nivel.id_categoria '==' 2}}
                                    <tr>
                                        <td>{{nivel.orden}}</td>
                                        <td>{{nivel.descripcion}}</td>
                                        <td>{{nivel.nota_maxima}}</td>
                                        <td>{{nivel.nota_minima}}</td>
                                        <td><a id="editarNivel_{{nivel.id}}">Editar</a></td>
                                        <td><a id="eliminarNivel_{{nivel.id}}">Eliminar</a></td>
                                    </tr>
                                    <script>
                                        $('#eliminarNivel_{{nivel.id}}').click(function(){
                                            let id_nivel = '{{nivel.id}}';
                                            $.ajax({
                                                url: '/med/eliminarNivel',
                                                type:"POST",
                                                dataType: 'json',
                                                data: {id_nivel: id_nivel},
                                            }).done(function (data) {
                                                console.log(data);
                                                M.toast({html: data.data});
                                                if (data.code == 0) {
                                                    location.reload();
                                                }
                                            }).fail(function (jqXHR, textStatus, errorThrown) {
                                                console.log(errorThrown);
                                                M.toast({html: 'Error, no se pudo completar la operación'});
                                            });
                                        });


                                        $('#editarNivel_{{nivel.id}}').click(function(){
                                            let nivel = {{json nivel}};
                                            console.log(nivel);
                                            $('#external_id').val(nivel.external_id);
                                            $('#id_nivel').val(nivel.id);
                                            $('#descripcion').val(nivel.descripcion);
                                            $('#orden').val(nivel.orden);
                                            $('#nota_maxima').val(nivel.nota_maxima);
                                            $('#nota_minima').val(nivel.nota_minima);
                                            $('#id_categoria').val(nivel.id_categoria);
                                            $('#id_categoria').formSelect();

                                            nivel.preguntas.forEach(function(p){
                                                let aux = {
                                                    pos: (lista_preguntas_nivel.length > 0) ? lista_preguntas_nivel.length : 0,
                                                    pregunta: p.pregunta,
                                                    tipo_archivo: p.tipo_archivo,
                                                    url_archivo_old: p.url_archivo,
                                                    file: null,
                                                    respuestas: []
                                                };
                                                p.respuestas.forEach(function(r){
                                                    aux.respuestas.push({
                                                        pos: (lista_respuestas_nivel.length > 0) ? lista_respuestas_nivel.length : 0,
                                                        respuesta: r.respuesta,
                                                        tipo_archivo: r.tipo_archivo,
                                                        url_archivo_old: r.url_archivo,
                                                        respuesta_correcta: r.respuesta_correcta,
                                                        file: null,
                                                    }); 
                                                });
                                                lista_preguntas_nivel.push(aux);
                                                let html  = '<tr id="pregunta_at_'+aux.pos+'">';
                                                    html += '   <td>'+aux.pregunta+'</td>';
                                                    html += '   <td>'+getTipoArchivo(p)+'</td>';
                                                    html += '   <td><a class="eliminarPregunta" data-target="'+aux.pos+'">Eliminar</a></td>';
                                                    html += '</tr>';
                                                $('#body_addPregunta').append(html);
                                            });

                                            function getTipoArchivo(p) {
                                                if(p.tipo_archivo === 0) {
                                                    return 'Audio';
                                                } else if(p.tipo_archivo === 1) {
                                                    return 'Imagen';
                                                } else if(p.tipo_archivo === 2) {
                                                    return 'Video';
                                                }else if(p.tipo_archivo === 3) {
                                                    return 'Texto';
                                                }
                                            }
                                            $('#modal_addNivel').modal('open');
                                        });
                                    </script>
                                {{/comparar}}
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                <div id="categoria_3" class="col s12 tabs_body">
                    <table>
                        <thead>
                            <tr>
                                <td>Orden</td>
                                <td>Descripción</td>
                                <td>Nota máxima</td>
                                <td>Nota mínima</td>
                                <td>Editar</td>
                                <td>Eliminar</td>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each lista_niveles as |nivel i|}}
                                {{#comparar nivel.id_categoria '==' 3}}
                                    <tr>
                                        <td>{{nivel.orden}}</td>
                                        <td>{{nivel.descripcion}}</td>
                                        <td>{{nivel.nota_maxima}}</td>
                                        <td>{{nivel.nota_minima}}</td>
                                        <td><a id="editarNivel_{{nivel.id}}">Editar</a></td>
                                        <td><a id="eliminarNivel_{{nivel.id}}">Eliminar</a></td>
                                    </tr>
                                    <script>
                                        $('#eliminarNivel_{{nivel.id}}').click(function(){
                                            let id_nivel = '{{nivel.id}}';
                                            $.ajax({
                                                url: '/med/eliminarNivel',
                                                type:"POST",
                                                dataType: 'json',
                                                data: {id_nivel: id_nivel},
                                            }).done(function (data) {
                                                console.log(data);
                                                M.toast({html: data.data});
                                                if (data.code == 0) {
                                                    location.reload();
                                                }
                                            }).fail(function (jqXHR, textStatus, errorThrown) {
                                                console.log(errorThrown);
                                                M.toast({html: 'Error, no se pudo completar la operación'});
                                            });
                                        });


                                        $('#editarNivel_{{nivel.id}}').click(function(){
                                            let nivel = {{json nivel}};
                                            console.log(nivel);
                                            $('#external_id').val(nivel.external_id);
                                            $('#id_nivel').val(nivel.id);
                                            $('#descripcion').val(nivel.descripcion);
                                            $('#orden').val(nivel.orden);
                                            $('#nota_maxima').val(nivel.nota_maxima);
                                            $('#nota_minima').val(nivel.nota_minima);
                                            $('#id_categoria').val(nivel.id_categoria);
                                            $('#id_categoria').formSelect();

                                            nivel.preguntas.forEach(function(p){
                                                let aux = {
                                                    pos: (lista_preguntas_nivel.length > 0) ? lista_preguntas_nivel.length : 0,
                                                    pregunta: p.pregunta,
                                                    tipo_archivo: p.tipo_archivo,
                                                    url_archivo_old: p.url_archivo,
                                                    file: null,
                                                    respuestas: []
                                                };
                                                p.respuestas.forEach(function(r){
                                                    aux.respuestas.push({
                                                        pos: (lista_respuestas_nivel.length > 0) ? lista_respuestas_nivel.length : 0,
                                                        respuesta: r.respuesta,
                                                        tipo_archivo: r.tipo_archivo,
                                                        url_archivo_old: r.url_archivo,
                                                        respuesta_correcta: r.respuesta_correcta,
                                                        file: null,
                                                    }); 
                                                });
                                                lista_preguntas_nivel.push(aux);
                                                let html  = '<tr id="pregunta_at_'+aux.pos+'">';
                                                    html += '   <td>'+aux.pregunta+'</td>';
                                                    html += '   <td>'+getTipoArchivo(p)+'</td>';
                                                    html += '   <td><a class="eliminarPregunta" data-target="'+aux.pos+'">Eliminar</a></td>';
                                                    html += '</tr>';
                                                $('#body_addPregunta').append(html);
                                            });

                                            function getTipoArchivo(p) {
                                                if(p.tipo_archivo === 0) {
                                                    return 'Audio';
                                                } else if(p.tipo_archivo === 1) {
                                                    return 'Imagen';
                                                } else if(p.tipo_archivo === 2) {
                                                    return 'Video';
                                                }else if(p.tipo_archivo === 3) {
                                                    return 'Texto';
                                                }
                                            }
                                            $('#modal_addNivel').modal('open');
                                        });
                                    </script>
                                {{/comparar}}
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="modal_addNivel" class="modal">
            <div class="modal-content">
                <center><p class="titulo">Administrar Nivel</p></center>
                <div class="row">
                    <form class="col s12">
                        <input type="hidden" id="external_id" value="0">
                        <input type="hidden" id="id_nivel" value="0">
                        <div class="row">
                            <div class="input-field col s6">
                                <input placeholder="Descripción" id="descripcion" type="text">
                                <label for="descripcion">Descripción</label>
                            </div>
                            <div class="input-field col s6">
                                <input placeholder="Dificultad, ejemplo: 1" id="orden" type="number" min="1">
                                <label for="orden">Dificultad</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input placeholder="Nota máxima" id="nota_maxima" type="number" min="1">
                                <label for="nota_maxima">Nota máxima</label>
                            </div>
                            <div class="input-field col s6">
                                <input placeholder="Nota mínima" id="nota_minima" type="number" min="1">
                                <label for="nota_minima">Nota mínima</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <select id="id_categoria">
                                    <option value="-1" selected>Selecciona la categoría</option>
                                    <option value="0">Discriminación</option>
                                    <option value="1">Identificación</option>
                                    <option value="2">Detección</option>
                                    <option value="3">Comprensión</option>
                                </select>
                                <label>Categoría</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <div class="divider"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <p class="titulo">Añadir Pregunta</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input placeholder="Pregunta" id="pregunta" type="text">
                                <label for="pregunta">Pregunta</label>
                            </div>
                            <div class="input-field col s6">
                                <select id="tipo_archivo_pregunta">
                                    <option value="-1" selected>Selecciona el tipo</option>
                                    <option value="0">Audio</option>
                                    <option value="1">Imagen</option>
                                    <option value="2">Video</option>
                                    <option value="3">Texto</option>
                                </select>
                                <label>Archivo Adjunto</label>
                            </div>
                        </div>
                        <div class="row hide" id="row_FilePregunta">
                            <div class="input-field col s12">
                                <div class="file-field input-field">
                                    <div class="btn">
                                        <span>Selecciona el archivo</span>
                                        <input type="file" id="pregunta_file" accept="image/jpeg, video/mp4, audio/mp3">
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <p>Añadir Respuesta a la pregunta</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input placeholder="Respuesta" id="respuesta" type="text">
                                <label for="respuesta">Respuesta</label>
                            </div>
                            <div class="input-field col s6">
                                <select id="tipo_archivo_respuesta">
                                    <option value="-1" selected>Selecciona el tipo</option>
                                    <option value="0">Audio</option>
                                    <option value="1">Imagen</option>
                                    <option value="2">Video</option>
                                    <option value="3">Texto</option>
                                </select>
                                <label>Tipo de respuesta</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <select id="respuesta_status">
                                    <option value="1" selected>Respuestra incorrecta</option>
                                    <option value="0">Respuesta correcta</option>
                                </select>
                                <label>Estado de la respuesta</label>
                            </div>
                        </div>
                        <div class="row hide" id="row_FileRespuesta">
                            <div class="input-field col s12">
                                <div class="file-field input-field">
                                    <div class="btn">
                                        <span>Selecciona el archivo</span>
                                        <input type="file" id="respuesta_file" accept="image/jpeg, video/mp4, audio/mp3">
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 right">
                                <a class="waves-effect waves-light btn" id="btn_add_Respuesta" style="float: right;">Añadir Respuesta</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <p>Lista de respuestas</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <table>
                                    <thead>
                                        <tr>
                                            <td>Respuesta</td>
                                            <td>Tipo</td>
                                            <td>Estado</td>
                                            <td>Opciones</td>
                                        </tr>
                                    </thead>
                                    <tbody id="body_addRespuesta"></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <div class="divider"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <a class="waves-effect waves-light btn" id="btn_add_Pregunta" style="float: right;">Añadir pregunta</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <p>Lista de preguntas</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <table>
                                    <thead>
                                        <tr>
                                            <td>Pregunta</td>
                                            <td>Tipo de archivo</td>
                                            <td>Opciones</td>
                                        </tr>
                                    </thead>
                                    <tbody id="body_addPregunta"></tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
                <a href="#!" id="guardar_nivel" class="waves-effect waves-green btn-flat">Guardar</a>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="/js/gestion_niveles.js"></script>
    </body>
</html>