<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CEAL</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
        <link rel="stylesheet" href="/fonts/icomoon/style.css">
        <link href ="/css/style_1.css" rel ="stylesheet">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/jquery-ui.css">
        <link rel="stylesheet" href="/css/owl.carousel.min.css">
        <link rel="stylesheet" href="/css/owl.theme.default.min.css">
        <link rel="stylesheet" href="/css/owl.theme.default.min.css">
        <link rel="stylesheet" href="/css/jquery.fancybox.min.css">
        <link rel="stylesheet" href="/css/bootstrap-datepicker.css">
        <link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">
        <link rel="stylesheet" href="/css/aos.css">
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/jquery-3.3.1.min.js"></script>
        <script src="/javascripts/reproducir_audio.js" type="text/javascript"></script>
        <script src="/javascripts/audio_quizzes.js" type="text/javascript"></script>
        <script src="/javascripts/utilidades.js" type="text/javascript"></script>
        <title>{{title}}</title>
    </head>
    <body data-spy="scroll" data-target=".site-navbar-target" data-offset="800">
        <div class="site-wrap">
            <div class="site-mobile-menu site-navbar-target">
                <div class="site-mobile-menu-header">
                    <div class="site-mobile-menu-close mt-3">
                        <span class="icon-close2 js-menu-toggle"></span>
                    </div>
                </div>
                <div class="site-mobile-menu-body"></div>
            </div>
            <!--::header part start::-->
            <header class="main_menu home_menu">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-12">
                            <nav class="navbar navbar-expand-lg navbar-primary ">
                                <a class="navbar-brand" href="/"> <p>{{title}}</p> </a>
                                <button class="navbar-toggler" type="button" data-toggle="collapse"
                                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                        aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="ti-menu"></span>
                                </button>
                                <div class="collapse navbar-collapse main-menu-item justify-content-end"
                                     id="navbarSupportedContent">
                                    <ul class="navbar-nav align-items-center">
                                        {{#if dat.paci}}
                                        <li><a href="/ " class="nav-link">Principal</a></li>
                                        <li><a href="/cerrar_sesion" class="nav-link">Cerrar Sesion</a></li>
                                        <li><a href="/paci/pacienteExamenMain" class="nav-link">Niveles</a></li>
                                        {{/ if}}
                                        {{#if dat.med}}
                                        <li><a href="/med/agregar_paciente" class="nav-link">Agregar Paciente</a></li>
                                        <li><a href="/med/lista/pacientes" class="nav-link">Pacientes registrados</a></li>
                                        <li><a href="/med/gestionNivelesMain" class="nav-link">Crear Niveles</a></li>
                                        <li><a href="/med/listarCalificaciones" class="nav-link">Listar Calificaciones</a></li>
                                        <li><a href="/cerrar_sesion" class="nav-link">Cerrar Sesion</a></li>
                                        {{/ if}}
                                        {{#if dat.admin}}
                                        <li><a href="/admin/editarRolUsuarios" class="nav-link">Cambiar roles</a></li>
                                        
                                        <li><a href="/cerrar_sesion" class="nav-link">Cerrar Sesion</a></li>
                                        {{/ if}}
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </header>
            {{#unless sesion}}

            <div class="intro-section" >

                <div class="slide-1" style="background-image: url('images/hero_1.jpg');width: 100%;" data-stellar-background-ratio="0.5">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-12">
                                <div class="row align-items-center">
                                    <div class="col-lg-4 mb-4">
                                        <h1  data-aos="fade-up" data-aos-delay="100">{{title}}</h1>
                                        <p class="mb-4"  data-aos="fade-up" data-aos-delay="200">Centro Ecuatoriano de Aprendizaje y Lengüaje.</p>
                                    </div>
                                    <div class="col-lg-6 ml-auto" data-aos="fade-up" data-aos-delay="500">
                                        <div class="row">

                                            <div class="btn-group" role="group" aria-label="...">
                                                <div class="list-group" id="list-tab" role="tablist">
                                                    <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Registrate</a>
                                                    <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Ingresar</a>
                                                </div></div>
                                            <div class="col-8">
                                                <div class="tab-content" id="nav-tabContent">
                                                    <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                                                        <form id="formulario1" method="POST" action="/registro/persona" class="form-box">
                                                            <h3 class="h4 text-black mb-4">Registro</h3>
                                                          
                                                            <div class="form-group">
                                                                <input type="hidden" class="form-control" name="nombre_rol" id="nombre_rol" >
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" name="nombres" id="nombres" placeholder="Nombre">
                                                            </div>
                                                            <div class="form-group mb-4">
                                                                <input type="text" class="form-control" name="apellidos" placeholder="Apellido">
                                                            </div>

                                                            <div class="form-group mb-4">
                                                                <input type="text" class="form-control" name="edad" placeholder="Edad">
                                                            </div>
                                                            <div class="form-group mb-4">
                                                                <input type="text" class="form-control" name="telefono" placeholder="Telefono">
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" name="username" placeholder="Nombre usuario">
                                                            </div>
                                                            <div class="form-group mb-4">
                                                                <input type="password" class="form-control" name="clave" placeholder="Clave">
                                                            </div>

                                                            <div class="form-group">
                                                                <button type="submit" class="btn btn-primary">Registrar</button>
                                                                <a href="/" class="btn btn-danger">Volver</a>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list" >
                                                        <form id="formulario2" method="POST" action="/inicio_sesion" class="form-box">
                                                            <div class="form-group">
                                                                <label for="exampleInputEmail1">Nombre de Usuario</label>
                                                                <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese su nombre de usuario">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="exampleInputPassword1">Contraseña</label>
                                                                <input type="password" name="clave" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
                                                            </div>
                                                            <button type="submit" class="btn btn-primary btn-pill">Ingresar</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            {{/unless}}

     {{#if msg.info}}
            <div class="alert alert-success alert-dismissible" style="z-index: 1;position: fixed;top: 25px;right:25px;width: 400px;height: 50px">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{msg.info}} </strong> 
            </div>
            {{/ if}}

            {{#if msg.error}}  
            <div class="alert alert-danger alert-dismissible" style="z-index: 1;position: fixed;top: 25px;right:25px;width: 400px;height: 50px">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{msg.error}}</strong>
            </div>
            {{/ if}}

            {{#if sesion}}

            {{#if fragmento}} 
            {{> (lookup . 'fragmento')}}
            {{/ if}}                                 
            {{/ if}} 




            <footer class="footer-section bg-white">
                <div class="row pt-5 mt-5 text-center">
                    <div class="col-md-12">
                        <div class="border-top pt-5">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script> Todos los derechos reservados <a href="https://unl.edu.ec/" target="_blank" >Universidad Nacional de Loja</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- .site-wrap -->

        <script src="/js/jquery-migrate-3.0.1.min.js"></script>
        <script src="/js/jquery-ui.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/owl.carousel.min.js"></script>
        <script src="/js/jquery.stellar.min.js"></script>
        <script src="/js/jquery.countdown.min.js"></script>
        <script src="/js/bootstrap-datepicker.min.js"></script>
        <script src="/js/jquery.easing.1.3.js"></script>
        <script src="/js/aos.js"></script>
        <script src="/js/jquery.fancybox.min.js"></script>
        <script src="/js/jquery.sticky.js"></script>
        <script src="/js/main.js"></script>

    </body>
</html>