<html>
    <head>
        <title>{{title}}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="/css/gestion_niveles.css">

        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="contenedor">
            <div class="nav">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a class="modal-trigger" href="/">Principal</a></li>
                  
                    <li><a href="/cerrar_sesion">cerrar sesion</a></li>
                </ul>
            </div>
            <div class="cuerpo">
                <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
                    <li class="tab"><a class="active"href="#categoria_0">Discriminación</a></li>
                    <li class="tab"><a href="#categoria_1">Identificación</a></li>
                    <li class="tab"><a href="#categoria_2">Detección</a></li>
                    <li class="tab"><a href="#categoria_3">Comprension</a></li>
                </ul>
                <div id="categoria_0" class="col s12 tabs_body">
                    <ul class="collapsible">
                        {{#each lista_pacientes as |paciente i|}}
                            {{#comparar paciente.rol.nombre '==' 'Paciente'}}
                                <li>
                                    <div class="collapsible-header"><b>Paciente:&nbsp;</b>&nbsp;{{paciente.nombres}}&nbsp;{{paciente.apellidos}}</div>
                                    <div class="collapsible-body">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <td>Orden</td>
                                                    <td>Descripción</td>
                                                    <td>Nota máxima</td>
                                                    <td>Nota mínima</td>
                                                    <td>Nota Obtenida</td>
                                                </tr>
                                            </thead>
                                            <tbody id="tbody_{{paciente.id}}_categoria_0"></tbody>
                                        </table>
                                    </div>
                                </li>
                            {{/comparar}}
                        {{/each}}
                    </ul>
                </div>
                <div id="categoria_1" class="col s12 tabs_body">
                    <ul class="collapsible">
                        {{#each lista_pacientes as |paciente i|}}
                            {{#comparar paciente.rol.nombre '==' 'Paciente'}}
                                <li>
                                    <div class="collapsible-header"><b>Paciente:&nbsp;</b>&nbsp;{{paciente.nombres}}&nbsp;{{paciente.apellidos}}</div>
                                    <div class="collapsible-body">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <td>Orden</td>
                                                    <td>Descripción</td>
                                                    <td>Nota máxima</td>
                                                    <td>Nota mínima</td>
                                                    <td>Nota Obtenida</td>
                                                </tr>
                                            </thead>
                                            <tbody id="tbody_{{paciente.id}}_categoria_1"></tbody>
                                        </table>
                                    </div>
                                </li>
                            {{/comparar}}
                        {{/each}}
                    </ul>
                </div>
                <div id="categoria_2" class="col s12 tabs_body">
                    <ul class="collapsible">
                        {{#each lista_pacientes as |paciente i|}}
                            {{#comparar paciente.rol.nombre '==' 'Paciente'}}
                                <li>
                                    <div class="collapsible-header"><b>Paciente:&nbsp;</b>&nbsp;{{paciente.nombres}}&nbsp;{{paciente.apellidos}}</div>
                                    <div class="collapsible-body">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <td>Orden</td>
                                                    <td>Descripción</td>
                                                    <td>Nota máxima</td>
                                                    <td>Nota mínima</td>
                                                    <td>Nota Obtenida</td>
                                                </tr>
                                            </thead>
                                            <tbody id="tbody_{{paciente.id}}_categoria_2"></tbody>
                                        </table>
                                    </div>
                                </li>
                            {{/comparar}}
                        {{/each}}
                    </ul>
                </div>
                <div id="categoria_3" class="col s12 tabs_body">
                    <ul class="collapsible">
                        {{#each lista_pacientes as |paciente i|}}
                            {{#comparar paciente.rol.nombre '==' 'Paciente'}}
                                <li>
                                    <div class="collapsible-header"><b>Paciente:&nbsp;</b>&nbsp;{{paciente.nombres}}&nbsp;{{paciente.apellidos}}</div>
                                    <div class="collapsible-body">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <td>Orden</td>
                                                    <td>Descripción</td>
                                                    <td>Nota máxima</td>
                                                    <td>Nota mínima</td>
                                                    <td>Nota Obtenida</td>
                                                </tr>
                                            </thead>
                                            <tbody id="tbody_{{paciente.id}}_categoria_3"></tbody>
                                        </table>
                                    </div>
                                </li>
                            {{/comparar}}
                        {{/each}}
                    </ul>
                </div>
            </div>
            <script>
                let lista_pacientes = {{json lista_pacientes}};
                console.log(lista_pacientes);
                let lista_niveles = {{json lista_niveles}};
                let lista_calificaciones = {{json lista_calificaciones}};

                lista_pacientes.forEach(function(paciente){
                    if(paciente.rol.nombre === 'Paciente'){
                        lista_niveles.forEach(function(nivel){
                            lista_calificaciones.forEach(function(calificacion){
                                if(calificacion.id_nivel === nivel.id && calificacion.id_persona === paciente.id){
                                    let html  = '<tr>';
                                        html += '   <td>'+nivel.orden+'</td>';
                                        html += '   <td>'+nivel.descripcion+'</td>';
                                        html += '   <td>'+nivel.nota_maxima+'</td>';
                                        html += '   <td>'+nivel.nota_minima+'</td>';
                                        html += '   <td>'+calificacion.calificacion+'</td>';
                                        html += '</tr>';
                                        console.log('a guardar');
                                    console.log(nivel);
                                    if(nivel.id_categoria === 0) {
                                        $('#tbody_'+paciente.id+'_categoria_0').append(html);
                                    }else if(nivel.id_categoria === 1) {
                                        $('#tbody_'+paciente.id+'_categoria_1').append(html);
                                    }else if(nivel.id_categoria === 2) {
                                        $('#tbody_'+paciente.id+'_categoria_2').append(html);
                                    }else if(nivel.id_categoria === 3) {
                                        $('#tbody_'+paciente.id+'_categoria_3').append(html);
                                    }
                                }
                            });
                        });
                    }
                });
            </script>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="/js/gestion_niveles.js"></script>
        <script>
            $('.collapsible').collapsible();
        </script>
    </body>
</html>