header {
    display: none;
}

.contenedor {
    width: 100%;
    height: auto;
}

.nav {
    display: block;
    padding-right: 4vw;
    height: 5vw;
    position: fixed;
    top: 0;
    z-index: 999;
    background: #7971ea;
    width: 100%;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.nav ul {
    margin: 0;
    width: auto;
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    float: right;
}

.nav ul li {
    list-style-type: none;
    list-style: none;
    float: left;
    padding: 0 2vw;
    font-size: .9vw;
    font-weight: 600;
}

.nav ul li a {
    color: #f8f8f8;
} 

.cuerpo {
    width: 82%;
    margin: 0 auto;
    margin-top: 8vw;
}

.cuerpo div.tabs_body {
    height: 36vw;
    overflow-y: auto;
}

table {
    width: 90%;
    margin: 0 auto;
    margin-top: 1vw;
}

.modal-content .titulo {
    font-weight: 600;
    font-size: 1.2vw;
}