<script>

    $(document).ready(function () {

        $("#buscar").click(function () {
            buscar();
        });

        function buscar() {

            var texto = $("#texto").val();
            var url = "http://localhost:1998/med/buscar";
            $.ajax({
                url: url,
                data: 'texto=' + texto,
                success: function (data, textStatus, jqXHR) {
                   var id = '';
                    var nombre = '';
                    var apellido = '';
                    var edad = '';
                    var telefono = '';
                    $.each(data, function (index, item) {

                        console.log(data);

                        nombre += item.nombres;
                        apellido += item.apellidos;
                        edad += item.edad;
                        telefono += item.telefono;
                        id += item.ident;

                    });
                    $("#nombres").val(nombre);
                    $("#apellidos").val(apellido);
                    $("#edad").val(edad);
                    $("#telefono").val(telefono);
                    $("#id_paciente").val(id);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR.responseText);
                }
            });
        }
    });
</script>
<div class="panel">
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <div class="panel-body">
        <input id="texto"/>
        <button id="buscar" class="btn btn-primary">Buscar</button>

    </div>
</div>
<div class="form-group">
    <form id="formulario1" method="POST" action="/med/agregar_paciente" class="form-box">
        <h3 class="h4 text-black mb-4">Datos del Paciente a registrar</h3>

        <div class="form-group">
            <input type="hidden" class="form-control" name="id_paciente" id="id_paciente" >
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="nombres" id="nombres" placeholder="Nombre" readonly>
        </div>
        <div class="form-group mb-4">
            <input type="text" class="form-control" name="apellidos" id="apellidos" placeholder="Apellido" readonly>
        </div>

        <div class="form-group mb-4">
            <input type="text" class="form-control" name="edad" id="edad" placeholder="Edad" readonly>
        </div>
        <div class="form-group mb-4">
            <input type="text" class="form-control" name="telefono" id="telefono" placeholder="Telefono" readonly>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Registrar</button>
            <a href="/" class="btn btn-danger">Volver</a>
        </div>
    </form>
</div>
