<script language="JavaScript">

    <!--
           alert("Bienvenido a la Autoevaluación correspondiente al primer mes \n\nSeleccione las respuestas que crea correctas, teniendo en " +
            "\ncuenta las siguientes consideraciones \n\n1. Los aciertos tienen el valor de un punto" +
            " \n\n2. Las respuestas no contestadas ni suman ni restan puntos.")
    //-->

    var resp = new Array;
    var faite = new Array;
    var score = 0;

    resp[1] = "b";
    resp[2] = "b";
    resp[3] = "b";
    resp[4] = "a";
    resp[5] = "a";


    function Engine(question, repose)
    {
        if (repose != resp[question])
        {
            if (!faite[question])
            {
                faite[question] = -1;
            }
        } else {

            if (!faite[question]) {
                faite[question] = -1;
                score++;
                alert("¡Correcto! Tu puntuación es : " + score);
            }

        }
    }

    function Nivel() {

        if (score >= 9 && score < 10) {
            alert(score + "/10 " + "Muy bien, prueba a superarlo");
        }
        if (score >= 7 && score < 8) {
            alert(score + "/10 " + "Bien, pero puedes hacerlo mejor");
        }
        if (score >= 5 && score < 6) {
            alert(score + "/10 " + "Aprobado por los pelos. No te fíes");
        }
        if (score >= 3 && score < 4) {
            alert(score + "/10 " + "Insuficiente. Has de estudiar más");
        }
        if (score < 2) {
            alert("Su puntuación es: " + score
                    + "\nLa puntuación máxima que podía obtener es 10"
                    + "\nTiene que reviazar nuevamente sus lecciones"
                    + "\nSu porcentaje de aciertos es menos del 10%");
        }
    }

</script>
<div class="site-section courses-title" id="courses-section">
    <div class="container">
        <div class="row mb-5 justify-content-center">
            <div class="col-lg-7 text-center" data-aos="fade-up" data-aos-delay="">
                <br>
                <h1 class="section-title">{{title}}</h1>

                <!--<h1 class="section-sub-title">Test de Autoevaluación</h1>-->
            </div>
        </div>
    </div>
</div>
<div class="site-section courses-entry-wrap"  data-aos="fade-up" data-aos-delay="100">
    <div class="container">
        <div class="row justify-content-center">
            <img src="/images/quiz_discriminacion/img_primaria.png" width="200"/> 
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="alert alert-info" role="alert"> Para reproducir el audio de cada pregunta haga click en su correspondiente imagen!</div>
    <table width="785" border="0" align="center" cellpadding="0" cellspacing="0" bordercolor="#336699" height="2">
        <tr> 
            <td width="50" rowspan="2"><img src="../../imagen/desafio.gif" width="50" height="50"></td>
            <td width="515" class="TopicTitle"><font face="Verdana, Arial, Helvetica, sans-serif" color="#336699"><b>{{title}}</b></font></td>
        </tr>

        <tr> 
            <td width="515" bgcolor="#336699"> </td>
        </tr>
        <tr bgcolor="#FFFFFF"> 
            <td> </td>
            <td class="TopicSubtitle"><font face="Verdana, Arial, Helvetica, sans-serif" color="#336699">Primer 
                mes </font></td>
            <td>  </td>
        </tr>
        <tr> 
        <tr> 
            <td height="521"> </td>
            <td height="521"> 
                <div align="center">
                    <div align="left">
                        <FORM NAME="formulario" ACTION="">
                            <!--<form name="miFormulario1" class="form-horizontal ">-->

                            <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                                ¿Señale la imagen que pertenece el siguiete sonido ?</font></p>
                            <audio src="/sounds/examen/puerta.mp3" controls></audio>
                            <hr>

                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                a. <input name=1 onClick="Engine(1, this.value)" type=radio value=a></font>
                                <img src="/images/examen/puerta.jpg"  width="250"/>               
                            </p>
                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 

                                b. <input name=1 onClick="Engine(1, this.value)" type=radio value=b></font>
                                <img src="/images/examen/ventana.jpg"  width="250"/>
                            </p>
                            <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                                ¿Señale la imagen que pertenece el siguiete sonido ?</font></p>
                            <audio src="/sounds/examen/perro.mp3" controls></audio>
                            <hr>

                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                a. <input name=1 onClick="Engine(2, this.value)" type=radio value=a></font>
                                <img src="/images/examen/gato.jpg"  width="250"/>               
                            </p>
                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 

                                b. <input name=1 onClick="Engine(2, this.value)" type=radio value=b></font>
                                <img src="/images/examen/perro.jpg"  width="250"/>
                            </p>
                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 

                                c. <input name=1 onClick="Engine(2, this.value)" type=radio value=b></font>
                                <img src="/images/examen/mono.jpg"  width="250"/>
                            </p>

                            <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                                ¿Señale la imagen que pertenece el siguiete sonido ?</font></p>
                            <audio src="/sounds/examen/carro.mp3" controls></audio>
                            <hr>

                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                a. <input name=1 onClick="Engine(3, this.value)" type=radio value=a></font>
                                <img src="/images/examen/tren.jpg"  width="250"/>               
                            </p>
                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 

                                b. <input name=1 onClick="Engine(3, this.value)" type=radio value=b></font>
                                <img src="/images/examen/carro.jpg"  width="250"/>
                            </p>
                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 

                                c. <input name=1 onClick="Engine(3, this.value)" type=radio value=b></font>
                                <img src="/images/examen/avion.jpg"  width="250"/>
                            </p>

                            <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                ¿Señale el audio que pertenezca a una caracteristica de la imagen?</font></p>
                            <img src="/images/examen/silbato.jpg"  width="250"/>
                            <hr>

                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                a. <input name=1 onClick="Engine(4, this.value)" type=radio value=a></font>
                                <audio src="/sounds/examen/flauta_peruana.mp3" controls></audio>              
                            </p>


                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                b.  <input name=1 onClick="Engine(4, this.value)" type=radio value=b></font>
                                <audio src="/sounds/examen/silbato.mp3" controls></audio>     
                            </p>
                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                c.  <input name=1 onClick="Engine(4, this.value)" type=radio value=b></font>
                                <audio src="/sounds/examen/bocina_1.mp3" controls></audio>     
                            </p>

                            <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                ¿Señale el audio que pertenezca a una caracteristica de la imagen?</font></p>
                            <img src="/images/examen/violin.jpg"  width="250"/>
                            <hr>

                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                a. <input name=1 onClick="Engine(5, this.value)" type=radio value=a></font>
                                <audio src="/sounds/examen/saxofon.mp3" controls></audio>              
                            </p>


                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                b.  <input name=1 onClick="Engine(5, this.value)" type=radio value=b></font>
                                <audio src="/sounds/examen/bateria.mp3" controls></audio>     
                            </p>
                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                c.  <input name=1 onClick="Engine(5, this.value)" type=radio value=b></font>
                                <audio src="/sounds/examen/violin.mp3" controls></audio>     
                            </p>

                            <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                ¿Señale el audio que pertenezca a una caracteristica de la imagen?</font></p>
                            <img src="/images/examen/elefante.jpg"  width="250"/>
                            <hr>

                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                a. <input name=1 onClick="Engine(6, this.value)" type=radio value=a></font>
                                <audio src="/sounds/examen/elefante.mp3" controls></audio>              
                            </p>


                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                b.  <input name=1 onClick="Engine(6, this.value)" type=radio value=b></font>
                                <audio src="/sounds/examen/leon.mp3" controls></audio>     
                            </p>
                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                c.  <input name=1 onClick="Engine(6, this.value)" type=radio value=b></font>
                                <audio src="/sounds/examen/mono.mp3" controls></audio>     
                            </p>


                            <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                Segun el video observado seleccione la opcion correcta:</font></p>
                            <hr>

                            <video class="video-fluid z-depth-1" autoplay loop controls muted>
                                <source src="/videos/examen/domir.webm" type="video/mp4" />
                            </video>


                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                a. correr  <input name=1 onClick="Engine(7, this.value)" type="radio" value="a">            
                                </font></p>


                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                b.leer   <input name=1 onClick="Engine(7, this.value)" type="radio" value="b">
                                </font></p>

                            <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                                c.dormir<input name=1 onClick="Engine(7, this.value)" type="radio" value="c">
                                </font></p>
                            <hr>
                            <video class="video-fluid z-depth-1" autoplay loop controls muted>
                                <source src="/videos/examen/bailar.webm" type="video/mp4" />
                            </video>

                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                a. correr  <input name=1 onClick="Engine(8, this.value)" type="radio" value="a">            
                                </font></p>
                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                b.leer   <input name=1 onClick="Engine(8, this.value)" type="radio" value="b">
                                </font></p>

                            <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                                c.bailar<input name=1 onClick="Engine(8, this.value)" type="radio" value="c">
                                </font></p>
                            <hr>
                            <video class="video-fluid z-depth-1" autoplay loop controls muted>
                                <source src="/videos/examen/cantar.webm" type="video/mp4" />
                            </video>

                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                a.estudiar<input name=1 onClick="Engine(9, this.value)" type="radio" value="a">            
                                </font></p>
                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                b.dibujar<input name=1 onClick="Engine(9, this.value)" type="radio" value="b">
                                </font></p>

                            <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                                c.cantar<input name=1 onClick="Engine(9, this.value)" type="radio" value="c">
                                </font></p>
                            <hr>
                            <video class="video-fluid z-depth-1" autoplay loop controls muted>
                                <source src="/videos/examen/jugar.webm" type="video/mp4" />
                            </video>

                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                a. dibujar  <input name=1 onClick="Engine(10, this.value)" type="radio" value="a">            
                                </font></p>
                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                b. jugar   <input name=1 onClick="Engine(10, this.value)" type="radio" value="b">
                                </font></p>

                            <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                                c. caminar<input name=1 onClick="Engine(10, this.value)" type="radio" value="c">
                                </font></p>
                            <hr>
                        </FORM>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>



