<style>
   
    .info {
        position:absolute;

        top:20%;
        margin-left: 900px;
        border : solid 2px #ff0000;
        background : #000000;
        color : #ffffff;
        padding : 10px;
        width : 500px;
        height : 60%;
        overflow : auto;
    }

    .autoscroll { overflow: auto;    }
</style>
<div class="container">
    <div id="container">
        <img src="/images/galeria/guitar.jpg" id="play" width="250"/> 
        <img src="/images/galeria/imagen1.jpg" id="play2" width="250"/> 
        <img src="/images/galeria/ambulancia.jpg" id="play3" width="250"/> 
        <img src="/images/galeria/cascada.jpg" id="play4" width="250"/> 
        <img src="/images/galeria/tormenta.jpg" id="play5" width="250"/> 
        <img src="/images/galeria/conversar_bebes.jpg" id="play6" width="250"/> 
        <img src="/images/galeria/lavar_ropa.jpg" id="play7" width="250"/>
        <img src="/images/galeria/lluvia.jpg" id="play8" width="250"/> 
        <img src="/images/galeria/piano_violin.jpg" id="play9" width="250"/> 
    </div>
    <div class="info">
      <h2>Sound Information</h2>
    <div id="length">Duration:</div>
    <div id="source">Source:</div>
    <div id="status" style="color:red;">Status: Loading</div>
    <hr>
    <h2>Control Buttons</h2>

    <button id="pause">Pause</button>
    <button id="restart">Restart</button>
    <hr>
    <h2>Playing Information</h2>
    <div id="currentTime">0</div>  
    </div> 
    
</div>

