<script language="JavaScript">

    <!--
           alert("Bienvenido a la Autoevaluación correspondiente al primer mes \n\nSeleccione las respuestas que crea correctas, teniendo en " +
            "\ncuenta las siguientes consideraciones \n\n1. Los aciertos tienen el valor de un punto" +
            " \n\n2. Las respuestas no contestadas ni suman ni restan puntos.")
    //-->

    var resp = new Array;
    var faite = new Array;
    var score = 0;

    resp[1] = "b";
    resp[2] = "b";
    resp[3] = "b";
    resp[4] = "a";
    resp[5] = "a";
    resp[6] = "b";
    resp[7] = "b";
    resp[8] = "b";
    resp[9] = "a";
    resp[10] = "a";


    function Engine(question, repose)
    {
        if (repose != resp[question])
        {
            if (!faite[question])
            {
                faite[question] = -1;
            }
        } else {

            if (!faite[question]) {
                faite[question] = -1;
                score++;
                alert("¡Correcto! Tu puntuación es : " + score);
            }

        }
    }

    function Nivel() {

        if (score >= 9 && score < 10) {
            alert(score + "/10 " + "Muy bien, prueba a superarlo");
        }
        if (score >= 7 && score < 8) {
            alert(score + "/10 " + "Bien, pero puedes hacerlo mejor");
        }
        if (score >= 5 && score < 6) {
            alert(score + "/10 " + "Aprobado por los pelos. No te fíes");
        }
        if (score >= 3 && score < 4) {
            alert(score + "/10 " + "Insuficiente. Has de estudiar más");
        }
        if (score < 2) {
            alert("Su puntuación es: " + score
                    + "\nLa puntuación máxima que podía obtener es 10"
                    + "\nTiene que reviazar nuevamente sus lecciones"
                    + "\nSu porcentaje de aciertos es menos del 10%");
        }
    }

</script>
<div class="site-section courses-title" id="courses-section">
    <div class="container">
        <div class="row mb-5 justify-content-center">
            <div class="col-lg-7 text-center" data-aos="fade-up" data-aos-delay="">
                <br>
                <h1 class="section-title">{{title}}</h1>

                <!--<h1 class="section-sub-title">Test de Autoevaluación</h1>-->
            </div>
        </div>
    </div>
</div>
<div class="site-section courses-entry-wrap"  data-aos="fade-up" data-aos-delay="100">
    <div class="container">
        <div class="row justify-content-center">
            <img src="/images/quiz_discriminacion/img_primaria.png" width="200"/> 
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="alert alert-info" role="alert"> Para reproducir el audio de cada pregunta haga click en su correspondiente imagen!</div>
    <table width="785" border="0" align="center" cellpadding="0" cellspacing="0" bordercolor="#336699" height="2">
        <tr> 
            <td width="50" rowspan="2"><img src="../../imagen/desafio.gif" width="50" height="50"></td>
            <td width="515" class="TopicTitle"><font face="Verdana, Arial, Helvetica, sans-serif" color="#336699"><b>Test 
                    de Autoevaluación</b></font></td>
        </tr>

        <tr> 
            <td width="515" bgcolor="#336699"> </td>
        </tr>
        <tr bgcolor="#FFFFFF"> 
            <td> </td>
            <td class="TopicSubtitle"><font face="Verdana, Arial, Helvetica, sans-serif" color="#336699">Primer 
                mes </font></td>
            <td>  </td>
        </tr>
        <tr> 
            <td height="521"> </td>
            <td height="521"> 
                <div align="center">
                    <div align="left">
                        <FORM NAME="formulario" ACTION="">
                            <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2">1. 
                                ¿Señale el audio que pertenezca a una caracteristica de la imagen?</font></p>
                            <img src="/images/deteccion/carroo.jpeg"  width="250"/>
                            <hr>

                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                a. <input name=1 onClick="Engine(1, this.value)" type=radio value=a></font>
                                <audio src="/sounds/deteccion3/pito.mp3" controls></audio>              
                            </p>

                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                b.  <input name=1 onClick="Engine(1, this.value)" type=radio value=b></font>
                                    <audio src="/sounds/deteccion3/taladro.mp3" controls></audio>    
                               <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                c.  <input name=1 onClick="Engine(1, this.value)" type=radio value=c></font>
                                    <audio src="/sounds/deteccion3/tren.mp3" controls></audio> </p>
                               
                               
                               
                                    <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2">2. 
                                ¿Señale el audio que pertenezca a una caracteristica de la imagen?</font></p>
                            <img src="/images/deteccion/caballo.jpeg"  width="250"/>
                            <hr>

                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                a. <input name=1 onClick="Engine(2, this.value)" type=radio value=a></font>
                                <audio src="/sounds/deteccion3/rana.mp3" controls></audio>              
                            </p>


                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                b.  <input name=1 onClick="Engine(2, this.value)" type=radio value=b></font>
                                <audio src="/sounds/deteccion3/aguacae.mp3" controls></audio>     
                            </p>
                              <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                c.  <input name=1 onClick="Engine(2, this.value)" type=radio value=c></font>
                                <audio src="/sounds/deteccion3/caballos.mp3" controls></audio>     
                            </p>

                            <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2">3. 
                                ¿Señale el audio que pertenezca a una caracteristica de la imagen?</font></p>
                            <img src="/images/deteccion/aplausos.jpeg"  width="250"/>
                            <hr>

                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                a. <input name=1 onClick="Engine(3, this.value)" type=radio value=a></font>
                                <audio src="/sounds/deteccion3/aplausos.mp3" controls></audio>              
                            </p>


                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                b.  <input name=1 onClick="Engine(3, this.value)" type=radio value=b></font>
                                <audio src="/sounds/deteccion3/esatdiofut.mp3" controls></audio>     
                            </p>

                             <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                c.  <input name=1 onClick="Engine(3, this.value)" type=radio value=c></font>
                                <audio src="/sounds/deteccion3/aguacae.mp3" controls></audio>     
                            </p>
                            <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2">4. 
                                ¿Señale el audio que pertenezca a una caracteristica de la imagen?</font></p>
                            <img src="/images/deteccion/viento.jpeg"  width="250"/>
                            <hr>

                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                a. <input name=1 onClick="Engine(4, this.value)" type=radio value=a></font>
                                <audio src="/sounds/sonidosnivel3/viento.mp3" controls></audio>              
                            </p>


                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                b.  <input name=1 onClick="Engine(4, this.value)" type=radio value=b></font>
                                <audio src="/sounds/sonidosnivel3/tormenta.mp3" controls></audio>     
                            </p>
                             <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                c.  <input name=1 onClick="Engine(4, this.value)" type=radio value=c></font>
                                <audio src="/sounds/sonidosnivel3/mar.mp3" controls></audio>     
                            </p>

                            <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2">5. 
                                ¿Señale el audio que pertenezca a una caracteristica de la imagen?</font></p>
                            <img src="/images/deteccion/risa.jpg"  width="250"/>
                            <hr>

                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                a. <input name=1 onClick="Engine(5, this.value)" type=radio value=a></font>
                                <audio src="/sounds/quiz_discriminacion/risa.mp3" controls></audio>              
                            </p>
                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                b.  <input name=1 onClick="Engine(5, this.value)" type=radio value=b></font>
                                <audio src="/sounds/quiz_discriminacion/llanto.mp3" controls></audio>     
                            </p>
                                <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                c.  <input name=1 onClick="Engine(5, this.value)" type=radio value=c></font>
                                <audio src="/sounds/quiz_discriminacion/flauta.mp3" controls></audio>     
                            </p>
                            
                               <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2">6. 
                                ¿Señale el audio que pertenezca a una caracteristica de la imagen?</font></p>
                            <img src="/images/deteccion/rana.jpeg"  width="250"/>
                            <hr>

                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                a. <input name=1 onClick="Engine(6, this.value)" type=radio value=a></font>
                                <audio src="/sounds/deteccion3/rana.mp3" controls></audio>              
                            </p>
                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                b.  <input name=1 onClick="Engine(6, this.value)" type=radio value=b></font>
                                <audio src="/sounds/deteccion3/telefono.mp3" controls></audio>     
                            </p>
                                <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                c.  <input name=1 onClick="Engine(6, this.value)" type=radio value=c></font>
                                <audio src="/sounds/deteccion3/aguacae.mp3" controls></audio>     
                            </p>
                            
                             <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2">7. 
                                ¿Señale el audio que pertenezca a una caracteristica de la imagen?</font></p>
                            <img src="/images/deteccion/taladro.jpg"  width="250"/>
                            <hr>

                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                a. <input name=1 onClick="Engine(7, this.value)" type=radio value=a></font>
                                <audio src="/sounds/deteccion3/aplausos.mp3" controls></audio>              
                            </p>
                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                b.  <input name=1 onClick="Engine(7, this.value)" type=radio value=b></font>
                                <audio src="/sounds/deteccion3/moto.mp3" controls></audio>     
                            </p>
                                <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                c.  <input name=1 onClick="Engine(7, this.value)" type=radio value=c></font>
                                <audio src="/sounds/deteccion3/taladro.mp3" controls></audio>     
                            </p>
                            
                                              <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2">8. 
                                ¿Señale el audio que pertenezca a una caracteristica de la imagen?</font></p>
                            <img src="/images/deteccion/olas.jpeg"  width="250"/>
                            <hr>

                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                a. <input name=1 onClick="Engine(8, this.value)" type=radio value=a></font>
                                <audio src="/sounds/deteccion3/caballos.mp3" controls></audio>              
                            </p>
                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                b.  <input name=1 onClick="Engine(8, this.value)" type=radio value=b></font>
                                <audio src="/sounds/deteccion3/olasmar.mp3" controls></audio>     
                            </p>
                                <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                c.  <input name=1 onClick="Engine(8, this.value)" type=radio value=c></font>
                                <audio src="/sounds/deteccion3/tren.mp3" controls></audio>     
                            </p>
                            
                            
                                              <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2">9. 
                                ¿Señale el audio que pertenezca a una caracteristica de la imagen?</font></p>
                            <img src="/images/deteccion/motosierra.jpeg"  width="250"/>
                            <hr>

                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                a. <input name=1 onClick="Engine(9, this.value)" type=radio value=a></font>
                                <audio src="/sounds/deteccion3/aguacae.mp3" controls></audio>              
                            </p>
                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                b.  <input name=1 onClick="Engine(9, this.value)" type=radio value=b></font>
                                <audio src="/sounds/deteccion3/motosierra.mp3" controls></audio>     
                            </p>
                                <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                c.  <input name=1 onClick="Engine(9, this.value)" type=radio value=c></font>
                                <audio src="/sounds/deteccion3/taladro.mp3" controls></audio>     
                            </p>
                            
                            
                                              <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2">10. 
                                ¿Señale el audio que pertenezca a una caracteristica de la imagen?</font></p>
                            <img src="/images/deteccion/grito.jpeg"  width="250"/>
                            <hr>

                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                a. <input name=1 onClick="Engine(10, this.value)" type=radio value=a></font>
                                <audio src="/sounds/deteccion3/rana.mp3" controls></audio>              
                            </p>
                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                b.  <input name=1 onClick="Engine(10, this.value)" type=radio value=b></font>
                                <audio src="/sounds/deteccion3/grito.mp3" controls></audio>     
                            </p>
                                <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                c.  <input name=1 onClick="Engine(10, this.value)" type=radio value=c></font>
                                <audio src="/sounds/deteccion3/esatdiofut.mp3" controls></audio>     
                            </p>
                            
                            
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <input name=Resulta onClick=Nivel() type=button value="Resultados" class="btn btn-secondary">
                                <input type="button" name="repose" value="Respuestas Correctas" class="btn btn-secondary"
                                       onClick="alert('reposes Correctas \n\n 1A  6A  11B\n\n 2B  7B  12A\n\n 3B  8A  13B\n\n 4C  9A  14C\n\n 5B 10C  15C')">
                                <input type="reset" value="Borrar resultados" name="reset" class="btn btn-secondary">
                            </div>
                        </FORM> 
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>




