<table class="table" id="tabla1">
    <thead>
        <tr>
            <th>Nro</th><th>Apellidos</th><th>Nombres</th><th>Edad</th>
            <th>Telefono</th><th>Rol</th>
        </tr>
    </thead>
    <tbody>

       {{#each lista as |lis i|}}
       <tr>
           <td>{{lis.i}}</td>
            <td>{{lis.persona.apellidos}}</td>
            <td>{{lis.persona.nombres}}</td>
            <td>{{lis.persona.edad}}</td>
            <td>{{lis.persona.telefono}}</td>
            
       </tr>
       {{/each}}
    </tbody>
</table>
