<script>

    $(document).ready(function () {

        $("#buscar").click(function () {
            buscar();
        });

        function buscar() {
            var criterio = $("#criterio").val();
            var texto = $("#texto").val();
            var url = "http://localhost:3000/buscar";
            $.ajax({
                url: url,
                data: 'criterio=' + criterio + '&texto=' + texto,
                success: function (data, textStatus, jqXHR) {
                    var html = '';
                    console.log(data);
                    $.each(data, function (index, item) {
                        html += '<tr>';
                        html += '<td>' + ((index * 1) + 1) + '</td>';
                        html += '<td>' + item.cedula + '</td>';
                        html += '<td>' + item.nombres +" "+item.apellidos + '</td>';
                        html += '<td>' + item.nombre_proyect + '</td>';
                       
                        html += '<td><a href="/administracion/pacientes/modificar/' + item.ext1 + '" class="btn btn-primary btn-sm">Modificar</a></td>';
                        html += '<td><a href="/administracion/pacientes/modificar/' + item.ext2 + '" class="btn btn-primary btn-sm">Modificar</a></td>';
                        html += '</tr>';
                    });
                    $("#tabla tbody").html(html);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR.responseText);
                }
            });
        }
    });
</script>
<div>
    <div class="panel">
        <br>
        <br>
        <br>
        <br>

        <div class="panel-body">
            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#modal">Nuevo</a>

            <select id="criterio">
               
                <option value="cedula">Cedula</option>
                <option value="nombre_proyecto">Nombre Proyecto</option>
                


            </select>
            <input id="texto"/>
            <button id="buscar" class="btn btn-primary">Buscar</button>


        </div>
    </div>
    <table class="table" id="tabla">
        <hr>
        <thead>
            <tr>
                <th>Nro</th><th>Nombres</th><th>Apellidos</th><th>edad</th><th>Rol</th><th>Acciones 2</th>
            </tr>
        </thead>
        <tbody>
            {{#each lista as |lis i|}}
       <tr>
           <td>{{lis.i}}</td>
            <td>{{lis.nombres}}</td>
            <td>{{lis.apellidos}}</td>
            <td>{{lis.edad}}</td>
            <td><a href="/propietario_modificar/{{lis.external_id}}" class="btn btn-primary btn-sm">Modificar Propietario</a></td>
            
            
       </tr>
       {{/each}}
        </tbody>
    </table>

    <div>

    </div>

</div>


