<div class="container">    

    Bienvevid@ {{usuario}} usted es 
    {{#if dat.med}}
   {{dat.med}}
   

   
    {{/ if}}
     {{#if dat.admin}}
   {{dat.admin}}
   
    {{/ if}}
     {{#if dat.paci}}
   {{dat.paci}}
   
    {{/ if}}
   
    

</div>
