<style>

    .info {
        position: sticky;
        top: 0;
        /*top:50%;*/
        left:  60%;
        border : solid 2px #ff0000;
        background : #000000;
        color : #ffffff;
        /*padding : 10px;*/
        width : 500px;
        height : 60%;
        overflow : auto;
    }

    .autoscroll { overflow: auto;    }

</style>
<script language="JavaScript">

    <!--
           alert("Bienvenido a la Autoevaluación correspondiente al primer mes \n\nSeleccione las respuestas que crea correctas, teniendo en " +
            "\ncuenta las siguientes consideraciones \n\n1. Los aciertos tienen el valor de un punto" +
            " \n\n2. Las respuestas no contestadas ni suman ni restan puntos.")
    //-->

    var resp = new Array;
    var faite = new Array;
    var score = 0;

    resp[1] = "a";
    resp[2] = "c";
    resp[3] = "b";
    resp[4] = "b";
    resp[5] = "c";
    resp[6] = "a";
    function Engine(question, repose)
    {
        if (repose != resp[question])
        {
            if (!faite[question])
            {
                faite[question] = -1;
            }
        } else {

            if (!faite[question]) {
                faite[question] = -1;
                score++;
                alert("¡Correcto! Tu puntuación es : " + score);
            }

        }
    }

        function Nivel() {

            if (score >= 9 && score < 10) {
                alert(score + "/10 " + "Muy bien, prueba a superarlo");
            }
            if (score >= 7 && score < 8) {
                alert(score + "/10 " + "Bien, pero puedes hacerlo mejor");
            }
            if (score >= 5 && score < 6) {
                alert(score + "/10 " + "Aprobado por los pelos. No te fíes");
            }
            if (score >= 3 && score < 4) {
                alert(score + "/10 " + "Insuficiente. Has de estudiar más");
            }
            if (score < 2) {
                alert("Su puntuación es: " + score
                        + "\nLa puntuación máxima que podía obtener es 10"
                        + "\nTiene que reviazar nuevamente sus lecciones"
                        + "\nSu porcentaje de aciertos es menos del 10%");
            }
        }
</script>

<!--<div id="container" class="info js-sticky-header">
    <button id="pause">Pause</button>
    <button id="restart">Restart</button>
</div>-->

<div class="site-section courses-title" id="courses-section">
    <div class="container">
        <div class="row mb-5 justify-content-center">
            <div class="col-lg-7 text-center" data-aos="fade-up" data-aos-delay="">
                <br>
                <h1 class="section-title">{{title}}</h1>

                <!--<h1 class="section-sub-title">Test de Autoevaluación</h1>-->
            </div>
        </div>
    </div>
</div>
<div class="site-section courses-entry-wrap"  data-aos="fade-up" data-aos-delay="100">
    <div class="container">
        <div class="row justify-content-center">
            <img src="/images/quiz_discriminacion/img_primaria.png" width="200"/> 
        </div>
    </div>
</div>
<br>
<div class="info" role="alert">
    <h2>Sound Information</h2>
    <div id="length">Duration:</div>
    <div id="source">Source:</div>
    <div id="status" style="color:red;">Status: Loading</div>
    <hr>
    <h2>Control Buttons</h2>

    <button id="pause">        Pause    </button>
    <button id="restart">Restart</button>
    <hr>
    <h2>Playing Information</h2>
    <div id="currentTime">0</div>
</div>
<div class="container">
    <div class="alert alert-info" role="alert"> Para reproducir el audio de cada pregunta haga click en su correspondiente imagen!</div>

    <table width="785" border="0" align="center" cellpadding="0" cellspacing="0" bordercolor="#336699" height="2">

        <tr> 
            <td width="50" rowspan="2"><img src="../../imagen/desafio.gif" width="50" height="50"></td>
            <td width="515" class="TopicTitle"><font face="Verdana, Arial, Helvetica, sans-serif" color="#336699"><b>Test 
                    de Autoevaluación</b></font></td>
        </tr>

        <tr> 
            <td width="515" bgcolor="#336699"> </td>
        </tr>
        <tr bgcolor="#FFFFFF"> 
            <td> </td>
            <td class="TopicSubtitle"><font face="Verdana, Arial, Helvetica, sans-serif" color="#336699">Primer 
                mes </font></td>
            <td>  </td>
        </tr>

        <tr> 
            <td height="521"> </td>
            <td height="521"> 
                <div align="center">
                    <div align="left">
                        <form NAME="formulario" ACTION="">
                            <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2">1. 
                                ¿A cual de los siguientes objetos le pertenece el siguiete sonido ?</font></p>
                            <img src="/images/quizzes/enigma.jpg" id="play" width="250"/> 
                            <!--<div class="containerPlayer">-->

                            <!--</div>-->
                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                a. Guitarra.</font> <input name=1 onClick="Engine(1, this.value)" type=radio value=a></p>
                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                b. Carro.</font> <input name=1 onClick="Engine(1, this.value)" type=radio value=b></p>
                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 

                                c. Radio.</font><input name=1 onClick="Engine(1, this.value)" type=radio value=c></p>
                            <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><br>
                            <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 2. 
                                ¿Cual de las siguientes acciones corresponde al siguiente sonido ?</font></p>
                            <img src="/images/quizzes/enigma.jpg" id="playA" width="250"/> 
                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                a. Cantar.</font> <input name=1 onClick="Engine(2, this.value)" type=radio value=a></p>
                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                b. Lavar.</font> <input name=1 onClick="Engine(2, this.value)" type=radio value=b></p>
                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 

                                c. Silbar.</font><input name=1 onClick="Engine(2, this.value)" type=radio value=c></p>
                            <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><br>

                            <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2">3. 
                                ¿Cual de las siguientes acciones corresponde al siguiente sonido ?</font></p>
                            <img src="/images/quizzes/enigma.jpg" id="playB" width="250"/> 
                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                a. Cantar.</font> <input name=1 onClick="Engine(3, this.value)" type=radio value=a></p>
                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                b. Ladrar.</font> <input name=1 onClick="Engine(3, this.value)" type=radio value=b></p>
                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 

                                c. Silbar.</font><input name=1 onClick="Engine(3, this.value)" type=radio value=c></p>
                            <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><br>   

                            <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2">4. 
                                ¿Que significa el siguiente sonido ?</font></p>
                            <img src="/images/quizzes/enigma.jpg" id="playC" width="250"/> 
                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                a. Jugar Football.</font> <input name=1 onClick="Engine(4, this.value)" type=radio value=a></p>
                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                b. Contestar una llamada.</font> <input name=1 onClick="Engine(4, this.value)" type=radio value=b></p>
                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 

                                c. Bailar.</font><input name=1 onClick="Engine(4, this.value)" type=radio value=c></p>
                            <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><br>   
                            <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2">5. 
                                ¿Que significado tiene el siguiente sonido ?</font></p>
                            <img src="/images/quizzes/enigma.jpg" id="playD" width="250"/> 
                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                a. Cocinar.</font> <input name=1 onClick="Engine(5, this.value)" type=radio value=a></p>
                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                b. Contestar una llamada.</font> <input name=1 onClick="Engine(5, this.value)" type=radio value=b></p>
                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 

                                c. Abrir la puerta.</font><input name=1 onClick="Engine(5, this.value)" type=radio value=c></p>
                            <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><br>  

                            <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2">6. 
                                ¿A que fenomeno natural hace referencia ek siguiente ?</font></p>
                            <img src="/images/quizzes/enigma.jpg" id="playE" width="250"/> 
                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                a. Vendaval.</font> <input name=1 onClick="Engine(6, this.value)" type=radio value=a></p>
                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
                                b. Terremoto.</font> <input name=1 onClick="Engine(6, this.value)" type=radio value=b></p>
                            <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> </p>

                            c. Tsunami.</font><input name=1 onClick="Engine(6, this.value)" type=radio value=c></p>
                            <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><br>   
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <input name=Resulta onClick=Nivel() type=button value="Resultados" class="btn btn-secondary">
                                <input type="button" name="repose" value="Respuestas Correctas" class="btn btn-secondary"
                                       onClick="alert('reposes Correctas \n\n 1A  6A  11B\n\n 2B  7B  12A\n\n 3B  8A  13B\n\n 4C  9A  14C\n\n 5B 10C  15C')">
                                <input type="reset" value="Borrar resultados" name="reset" class="btn btn-secondary">
                            </div>
                            <br>
                            <br>
                        </form> 
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <div class="alert alert-info" role="alert">* Para 
        tomar nuevamente la autoevaluación presione el botón 
        <span class="badge badge-secondary">'F5'</span> </div>
</div>

